*{
    margin: 0;
    padding: 0;
}

.commonbtn{
    border: none;
    border-radius: 10px;
    background-color: #1D4ED8;
    color: white;
    cursor: pointer;
}

body{
    font-family: "Inter", sans-serif;
}
/* Nav Bar design */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    padding: 10px 20px;
}

.navbaritem ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: #575757;
}

.nb{
    padding: 15px 30px;
    font-size: 15px;
}

/* hero section design */
.hero{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 786px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/banner.jpg")
}

.hero-con{
    max-width: 750px;
}

.hero-con h1{
    font-size: 70px;
    font-weight: 750;
    margin-bottom: 25px;
    margin-top: 50px;
}

.hero-con p{
    font-size: 20px;
    margin-bottom: 45px;
}

.hb{
    padding: 20px 40px;
    font-size: 20px;
    margin-top: 300px;
}

/* meet the speakers section */
.speaker-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.s-card{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 12px;
    overflow: hidden;
}
.card-con{
    padding: 20px;
}

.speaker h2{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 70px;
}
.speaker{
    max-width: 1200px;
    width: 90%;
    margin: 100px auto;
}