*{
    margin: 0;
    padding: 0;
}

.commonbtn{
    border: none;
    border-radius: 10px;
    background-color: #1D4ED8;
    color: white;
    cursor: pointer;
}

body{
    font-family: "Inter", sans-serif;
}
/* Nav Bar design */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    padding: 10px 20px;
}

.navbaritem ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: #575757;
    cursor: pointer;
}

.nb{
    padding: 15px 30px;
    font-size: 15px;
}

/* hero section design */
.hero{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 786px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/banner.jpg")
}

.hero-con{
    max-width: 750px;
}

.hero-con h1{
    font-size: 70px;
    font-weight: 750;
    margin-bottom: 25px;
    margin-top: 50px;
}

.hero-con p{
    font-size: 20px;
    margin-bottom: 45px;
}

.hb{
    padding: 20px 40px;
    font-size: 20px;
    margin-top: 300px;
}

/* meet the speakers section */
.speaker-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.s-card{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 12px;
    overflow: hidden;
}
.card-con{
    padding: 20px;
}

.speaker h2{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 70px;
}
.speaker{
    max-width: 1200px;
    width: 90%;
    margin: 100px auto;
}
/* price section design */

.price{
    max-width: 1200px;
    width: 90%;
    margin: 100px auto;
}
.price h2{
text-align: center;
font-size: 60px;
color: #0D1B2A;
margin-bottom: 10px;
}
.price p{
    text-align: center;
    color: #575757;
    margin-bottom: 50px;
}
.price-con{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.p-card-s{
    border: 1px solid rgb(230, 226, 226);
    border-radius: 10px;
    padding: 30px;
}
.p-card-p{
    border: 1px solid #0D1B2A;
    background-color: #0D1B2A;
    color: white;
    border-radius: 10px;
    padding: 30px;
}
.p-card-t{
    border: 1px solid rgb(230, 226, 226);
    background-color: #f0f0f1;
    border-radius: 10px;
    padding: 30px;
}
.p-card-s h5{
    font-size: 15px;
    margin-bottom: 10px;
    color: #77777b;
}
.p-card-p h5{
    font-size: 15px;
    margin-bottom: 10px;
    color: #83a1f3;
}
.p-card-t h5{
    font-size: 15px;
    margin-bottom: 10px;
    color: #77777b;
}
.p-card-s h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.p-card-p h1{
     font-size: 40px;
    margin-bottom: 10px;
}
.p-card-t h1{
     font-size: 40px;
    margin-bottom: 10px;
}
.p-card-s h6{
    border-bottom: 1px solid #dcdcde;
    padding-bottom: 15px;
    color: #77777b;
    font-size: 15px;
}
.p-card-p h6{
    border-bottom: 1px solid #dcdcde;
    padding-bottom: 15px;
    color: #CBD5E1;
    font-size: 15px;
}
.p-card-t h6{
    border-bottom: 1px solid #dcdcde;
    padding-bottom: 15px;
    color: #77777b;
    font-size: 15px;
}
.p-card-s ul{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 17px;
}

.p-card-p ul{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 17px;
}

.p-card-t ul{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 17px;
}

.p-card-s ul li{
    margin-bottom: 15px;
    color: #383838;
}
.p-card-p ul li{
    margin-bottom: 15px;
    color: #d0d0d0;
}
.p-card-t ul li{
    margin-bottom: 15px;
    color: #383838;
}
.pb1, .pb2, .pb3{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.pb1{
    border-color: #008cff;
    color: #008cff;
}

/* schedule section style */
.time{
    max-width: 1200px;
    width: 90%;
    margin: 100px auto;
}

.time h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #0D1B2A;
}
.schedule-title{
    text-align: center;
    margin: 20px 5px 60px 5px;
    color: #575757;
}

.schedule-con{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.schedule-card{
    border: 1px solid #e6e6e6 ;
    border-radius: 10px;
    padding: 30px;
}
.an{
     background:#0D1B2A;
    color:rgb(232, 232, 232);
}

.ano{
    background-color: #f0f0f0;
}

.schedule-card h3 {
    margin-bottom: 20px;
}

.schedule-card ul{
    padding-left: 20px;
}

.schedule-card h4{
    margin-bottom: 10px;
    color: #8d8c8c;
}
.an h3{
    color: #83a1f3;
}

/* FAQ Section */
.faq{
    max-width: 1000px;
    width: 90%;
    margin: 100px auto;
}
.faq h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.faq-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.faq-i{
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 20px;
}

.faq-i h3{
    margin-bottom: 10px;
}

/* footer style */